.main-form-container {
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.main-form-header {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #7695ec;
  padding: 20px 0;
  margin-bottom: 24px;
}

.main-form-header .title {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}

.form-content {
  padding: 0 24px 24px;
}
