.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background: rgba(119, 119, 119, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.modal-overlay.modal-open {
  opacity: 1;
}

.modal-overlay.modal-closed {
  opacity: 0;
}

.modal-content {
  background: #fff;
  padding: 10px 24px;
  border-radius: 8px;
  min-width: 660px;
  max-width: 90%;
  transform: scale(0.9);
  opacity: 0;
  transition: all 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal-content.modal-open {
  transform: scale(1);
  opacity: 1;
}

.modal-content.modal-closed {
  transform: scale(0.9);
  opacity: 0;
}
