.modal {
  height: fit-content;

  &-title {
    font-size: 22px;
    font-weight: 700;
  }
}

.modal-body {
  .modal-text {
    display: flex;
    align-items: center;
    margin: 10px 0 8px;
    font-size: 16px;
    font-weight: 400;
    span {
      display: inline-flex;
      margin-left: 8px;
    }
  }

  .modal-input {
    width: 100%;
    height: 32px;
    padding: 5px 10px;
    margin-bottom: 15px;
    border: 1px solid #777777;
    border-radius: 8px;
    font-weight: 500;

    &::placeholder {
      font-size: 14px;
      font-weight: 400;
      opacity: 0.4;
    }
  }
}

.switch-mode {
  color: #666;

  span {
    color: #007bff;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-message {
  color: #dc3545;
  margin-bottom: 15px;
  padding: 10px;
  background: #ffe6e6;
  border-radius: 4px;
}
