* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html,
body {
  background-color: #dddddd;
  height: 100%;
  margin: 0;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
